        <div><a href=""><img src="/logo.png" id="logo"></a></div> 
        <div class="next-btn">
            <a href="/project/<%= next %>">
                <img style="width:100%" src="https://d30y9cdsu7xlg0.cloudfront.net/png/18954-200.png">
            </a>
        </div>
        <div class="prev-btn">
            <a href="/project/<%= prev %>">
                <img style="width:100%" src="https://d30y9cdsu7xlg0.cloudfront.net/png/18954-200.png">
            </a>
        </div>
