        <div><a href="/"><img src="/logo.png" id="logo"></a></div> 
        <div class="next-btn">
            <a href="/project/<%= next %>">
                <img style="width:100%" src="/next.png" id="nav">
            </a>
        </div>
        <div class="prev-btn">
            <a href="/project/<%= prev %>">
                <img style="width:100%" src="/back.png" id="nav">
            </a>
        </div>
