.glitch {

  animation: character_blur 3s 2s infinite alternate;
}


@keyframes character_blur {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  19% {
    transform: skew(0deg);
    opacity: 1;
  }
  20% {
    transform: skew(-20deg);
    opacity: 0.5;
  }
  21% {
    opacity: 1;
    transform: skew(0deg);
  }
  21.5% {
    opacity: 0.3;
    transform: skew(45deg);
  }
  22% {
    opacity: 1;
    transform: skew(0deg);
  }
  100% {
  }
}


