<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% include ../partials/header.ejs %>
  <style>
    #nav {
        padding: 15px;
    }
    #logo {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 50px;
        z-index: 10;
    }
    .next-btn {
        position: absolute;
        top: 50vh;
        right: 20px;
        width: 65px;
        border: 2px solid white;
        border-radius: 50%;
        z-index: 10;
    }

    .next-btn:hover {
        background-color: white;
        cursor: pointer;
    }
    #social-icon {
        height: 30px;
    width: 30px;
    margin: 15px;
    }
    h1 {
        color: white;
        font-weight: 900;
        font-size: 40pt;
        font-family: Helvetica, Sans-Serif;
        margin-left: 10%;
        margin-bottom: 20px;
        text-align: left;
    }
    .content {
        padding-top: 80px;
        padding-left: 100px;
    }

    #art {
        height: 100vh;
    }
    .paragraph {
        text-align: left;
        color: white;
        font-size: 18px;
        font-family: Helvetica;
        padding: 5px 10%;
    }
    .subheading {
        font-weight: 900;
        font-family: Helvetica;
        letter-spacing: 0.075em;
        text-align: left;
        color: white;
        font-size: 20px;
        padding: 10px 10%;
    }
    .next-btn {
        position: absolute;
        top: 50vh;
        right: 20px;
        width: 65px;
        border: 2px solid white;
        border-radius: 50%;
        z-index: 10;
    }
    .next-btn:hover {
        background-color: white;
        cursor: pointer;
    }
    .prev-btn {
        position: absolute;
        top: 50vh;
        left: 20px;
        width: 65px;
        border: 2px solid white;
        border-radius: 50%;
        z-index: 10;
    }
    .prev-btn:hover {
        background-color: white;
        cursor: pointer;
    }
  </style>
</head>

<body style="background-color: #07073b; overflow: hidden;">
    <div class="">
        
        <div><a href="/"><img src="/logo.png" id="logo"></a></div> 
        <div class="next-btn">
            <a href="/project/1">
                <img style="width:100%" src="/next.png" id="nav">
            </a>
        </div>
        <div class="prev-btn">
            <a href="/">
                <img style="width:100%" src="/back.png" id="nav">
            </a>
        </div>
        
        <!-- content -->
        <div class="row">
            <div class="col-md-6 content">
                <h1> <%= title %> </h1>
                <p class="subheading">Theme: Alt-Tech</p>
                <p class="paragraph">
                Alternative (adj.): available as another possibility.
                </p>
                <p class="paragraph">

We are used to the existence of technology in our life, and we are used to its limitations, too. Sometimes we forget that there are more possibilities beyond our imagination. IDMers are pushing the boundaries of technology, giving technology more possibilities.

                </p>
                <p class="subheading">About Lorem Ipsum</p>
                <p class="paragraph">
                    Lorem Ipsum was conceptualized in June 2017 by Kelly Chang. She then recruited a small group of graduate students. As the summer went on, our team grew to include undergraduate students. Just as our name implies, we are the placeholder for Integrated Digital Media students to showcase their work.
                </p>
                <p class="subheading">Get Involved and Follow Us!</p>
                <p class="paragraph">
                    <a href="mailto:loremipsum.mag@gmail.com">Submit your work</a> to the next issue! 
                    <br>
                    <a href="https://twitter.com/search?q=%40loremipsum_zine&amp;src=typd"><img id="social-icon" src="http://bxmc.poly.edu/LoremIpsum/wp-content/uploads/2017/07/twitter.png"></a>
                    <a href="https://www.instagram.com/loremipsum_zine/"><img id="social-icon" src="http://bxmc.poly.edu/LoremIpsum/wp-content/uploads/2017/07/ig.png"></a>
                    <a href="https://www.facebook.com/loremipsumzine/"><img id="social-icon" src="http://bxmc.poly.edu/LoremIpsum/wp-content/uploads/2017/07/fb.png"></a> 
                </p>
            
            
            </div>
            <div class="col-md-6 content">
                <h1>Credits</h1>
                <p class="subheading">Executive Team </p>
                <p class="paragraph">Kelly Chang, Brian Hui, Ife Lawal</p>
                <p class="subheading">CurationTeam </p>
                <p class="paragraph">Kelly Chang, Brian Hui, Yiping Wang, Jasmine Tseng </p>
                <p class="subheading">Website Team </p>
                <p class="paragraph">Kelly Chang, Jasmine Tseng, YuHsuan Lin </p>
                <p class="subheading">Graphic Design</p>
                <p class="paragraph">YuHsuan Lin </p>


            </div>
        </div> <!-- end row -->

    </div>
</body>
</html>

