<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% include ../partials/header.ejs %>
  <style>
    @font-face {
        font-family: "DINBold";
        src:url("/font/DIN-BoldItalic.otf");
    }
    @font-face {
        font-family: "DIN";
        src:url("/font/DIN-MediumItalic.otf");
    }
    
    body { background-color: black; }
    .main {
        background-image: url(bg.png);
        /* Full height */
        height: 100vh; 
        /* Center and scale the image nicely */
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    } 
    #top-layer {
        position: absolute;
        right: 20px;
        bottom: 0px;
        width: 60%;
    }
    .titles {
        color: white;
        position: absolute;
        top: 15%;
        font-family: "DINBold";
        width: 100%;
    }
    h1 {
        font-family: "DINBold";
    }
    h2 {
        font-family: "DIN";
    }
    
    #view {
        position: absolute;
        right: 10%;
        max-width: 18%;
        bottom: 5px;
    }
    #view:hover {
        transform: scale(1.05);
    }

    #right-blur {
        position: absolute;
        right: -150px;
        top: -100px;
        max-width: 650px;
    }

    .floating {
        animation-name: floating;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        from { transform: translate(0,  0px); }
        40%  { transform: translate(20px, 15px); }
        70%  { transform: translate(20px, -5px); }
        to   { transform: translate(0px, -0px); }
    }

    .floating1 {
        animation-name: floating;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
    @keyframes floating1 {
        from { transform: translate(0,  0px); }
        40%  { transform: translate(-15px, -10px); }
        60%  { transform: translate(-25px, -25px); }
        80%  { transform: translate(-5px, -10px); }
        to   { transform: translate(0px, -0px); }
    }

    .floating2 {
        animation-name: floating;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
    @keyframes floating2 {
        from { transform: translate(0,  0px); }
        40%  { transform: translate(30px, 25px); }
        60%  { transform: translate(30px, 15px); }
        80%  { transform: translate(-10px, 5px); }
        to   { transform: translate(0px, -0px); }
    }

    .floating3 {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
    @keyframes floating3 {
        from { transform: translate(0,  0px); }
        20%  { transform: translate(-20px, 0px); }
        40%  { transform: translate(-30px, 30px); }
        60%  { transform: translate(-20px, 20px); }
        80%  { transform: translate(10px, 10px); }
        to   { transform: translate(0px, -0px); }
    }
    .floating5 {
        animation-name: floating;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
    @keyframes floating5 {
        from { transform: translate(0,  0px); }
        17%  { transform: translate(40px, 20px); }
        34%  { transform: translate(40px, -20px); }
        50%  { transform: translate(0px, 0px); }
        67%  { transform: translate(-40px, 20px); }
        84%  { transform: translate(-40px, -20px); }
        to   { transform: translate(0px, -0px); }
    }
    .left-blur {
        position: absolute;
        left: 15%;
        top: 10%;
    }

    .left-blur img {
        position: absolute;
        max-width: 400px;
    }
    .middle {
        position: absolute;
        left: 55%;
        bottom: 18%;
    }
    .right {
        position: absolute;
        right: 50px;
        top: 25%;
    }

  </style>

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>

<body>
<section class="screen">
<div class="content">
    <div class="main">
        
        <div id="right-blur" class="floating">
            <img src="/1x/right_top_blur.png">
        </div>
        
        <div class="left-blur">
            <img src="/1x/left_pink_hair.png" class="floating1">
            <img src="/1x/left_blue_layer.png" class="floating2">
            <img src="/1x/left_gradient.png" class="floating3">
        </div>

        <div class="middle">
            <img src="/1x/center_small_blur.png">
        </div>

        <div class="right floating5">
            <img src="/1x/right_bubble.png">
        </div>
       
        <img src="/1x/pixel_bling1.png" style="position: absolute;left:80px;top:35%;max-width:40px; ">
        <img src="/1x/pixel_bling3.png" style="position: absolute;right:200px;top:40%;max-width:60px; ">

        
        <div class="titles">
            <img src="/1x/left_line.png" style="max-width:45%">
            <span style="display: inline-block;">
                <h1>NEW YORK UNIVERSITY</h1>
                <h2>INTEGRATED DIGITAL MEDIA</h2>
            </span>
            <a href="/editors"><img id="view" src="/1x/button.png"></a>
        </div>
        
        <img id="top-layer" src="/1x/layer_top.png">
        

    </div>

</div>
</section>

</body>
</html>
